# Transformacion de Datos

### Configuracion Del Entorno

In [20]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [21]:
load_dotenv()

# Construir la cadena de conexión
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
connection_str = f"postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

# Crear el motor de conexión
engine = create_engine(connection_str)
print("Conexión a la base de datos establecida.")

Conexión a la base de datos establecida.

In [22]:
df = pd.read_sql_table("raw_candidates", engine, parse_dates=["Application Date"])
df

,ï»¿First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

In [23]:
renamed_columns = {
    'ï»¿First Name': 'first_name',
    'Last Name': 'last_name',
    'Email': 'email',
    'Application Date': 'application_date',
    'Country': 'country',
    'YOE': 'yoe',
    'Seniority': 'seniority',
    'Technology': 'technology',
    'Code Challenge Score': 'code_challenge_score',
    'Technical Interview Score': 'technical_interview_score'
}

df = df.rename(columns=renamed_columns)
df.columns

Index(['first_name', 'last_name', 'email', 'application_date', 'country',
       'yoe', 'seniority', 'technology', 'code_challenge_score',
       'technical_interview_score'],
      dtype='object')

In [24]:
df.technology.unique()

array(['Data Engineer', 'Client Success', 'QA Manual',
       'Social Media Community Management', 'Adobe Experience Manager',
       'Sales', 'Mulesoft', 'DevOps', 'Development - CMS Backend',
       'Salesforce', 'System Administration', 'Security',
       'Game Development', 'Development - CMS Frontend',
       'Security Compliance', 'Development - Backend', 'Design',
       'Business Analytics / Project Management',
       'Development - Frontend', 'Development - FullStack',
       'Business Intelligence', 'Database Administration',
       'QA Automation', 'Technical Writing'], dtype=object)

In [25]:

tech_mapping = {
    'Data Engineer': 'Data / Engineering',
    'Client Success': 'Sales / Client',
    'QA Manual': 'QA',
    'Social Media Community Management': 'Marketing',
    'Adobe Experience Manager': 'Adobe',
    'Sales': 'Sales / Client',
    'Mulesoft': 'Mulesoft',
    'DevOps': 'Development',
    'Development - CMS Backend': 'Development',
    'Salesforce': 'Salesforce',
    'System Administration': 'Admin / SysOps',
    'Security': 'Security',
    'Game Development': 'Development',
    'QA CMS Frontend': 'QA',
    'Security Compliance': 'Security',
    'Development - Backend': 'Development',
    'Design': 'Design',
    'Business Analytics / Project Management': 'Analytics / PM',
    'Development - Frontend': 'Development',
    'Development - FullStack': 'Development',
    'Business Intelligence': 'Data / Engineering',
    'Database Administration': 'Admin / SysOps',
    'QA Automation': 'QA',
    'Technical Writing': 'Technical Writing'
}

# Reemplazar los valores de la columna "technology" por las categorías definidas
# Si aparece algún valor que no está en el diccionario, lo convertimos en "Others"
df['technology'] = df['technology'].map(tech_mapping).fillna('Others')

# Verificamos los primeros resultados para confirmar el reemplazo
df[['technology']].head(10)

           technology
0  Data / Engineering
1  Data / Engineering
2      Sales / Client
3                  QA
4           Marketing
5               Adobe
6      Sales / Client
7            Mulesoft
8           Marketing
9         Development

In [27]:
df['hired'] = ((df['code_challenge_score'] >= 7) & (df['technical_interview_score'] >= 7)).astype(bool)
df

,first_name,last_name,email,application_date,country,yoe,seniority,technology,code_challenge_score,technical_interview_score,hired
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data / Engineering,3,3,False
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data / Engineering,2,10,False
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Sales / Client,10,9,True
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA,7,1,False
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Marketing,9,7,True
...,...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1,False
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Development,1,2,False
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,Admin / SysOps,6,1,False
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Admin / SysOps,0,0,False
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1,False

In [28]:
df.to_sql('candidates_hired', engine, if_exists='replace', index=False)

1000